.inner-cont {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 22%;
    height: 10vh;
    margin: 5px;

}

.red-box {
    background-color: rgb(218, 159, 218);
}

.green-box {
    background-color: rgb(55, 177, 177);
}