body {
    /*margin: 30px;*/
}
header {
    font-size: 16px;
}
.brand-image {
    
        grid-area: br;
        justify-self: left;
    }
.top-nav{
    grid-area: nav;
    text-align: center;
    padding: 10px;
    justify-self: center ;
}
.tools {
    
    grid-area: ts;
    text-align: center;
    padding: 10px;
    justify-self: right ;
}

.container { 
    display: grid;
    background: transparent;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "br br"
    "nav ts";
    margin-bottom: 10px;
    /*grid-template-areas:
     "br"
     "nav"
     "ts";
    /*grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "br nav ts";*/
}
 


.top-nav li{
    padding: 5px;
    display: inline;
}


.nav-links a{
    display: inline;
    color:  rgb(86, 91, 97);
    text-align: match-parent;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;

}
.nav-links a:hover{
    background: yellowgreen ;
    border-radius: 10%;
}
.tools {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem; 
}
/*smartphone*/
@media only screen and (max-width: 576px) {

    .container {
        /*background: transparent*/
        display: grid;
        gap: 10px;
        grid-template-columns: 20% auto;
        grid-template-areas:
        "br br"
        "nav ts";
       /* margin-bottom: 10px;*/
    
        
 }
  
}
body {
    font-family: monospace;
    color: rgb(86, 91, 97);
}
@media only screen and (max-width: 992px){
    .container {
        /*background: transparent;*/
        display: grid;
        max-width: 600%
        grid-template-columns: 120px auto 120px; 
        grid-template-areas:
        "br nav ts";
        margin-bottom: 10px;
 }

}
@media only (min-width: 992px){
    .container {
        /*background: transparent;
        display: grid;
        width: 100%;*/
        grid-template-columns: 20% auto; 
        grid-template-areas:
        "br nav ts";
        margin-bottom: 10px;
 }

}
