body {
    /*margin: 30px;*/
}
header {
    font-size: 16px;
}

.container {
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: linen;
    grid-gap: 40%;
    align-items: center;
    grid-template-areas:
        "br br"
        "nav ts";
   
}
 
.br {
    
        grid-area: br;
        justify-self: left;
        grid-column: 1;
        grid-row: 1;
        display: grid;
    }
.nav {
    grid-area: nav;
    text-align: center;
    padding: 10px;
    justify-self: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    display: grid;
}
.ts {
    
    grid-area: ts;
    text-align: center;
    padding: 10px;
    justify-self: right;
    align-items: center;
    grid-column: 3;
    grid-row: 1;
    display: grid;
}

.nav li{
    padding: 5px;
    display: grid;
}
.nav ul {
    display: grid;
}

.nav-links a{
    display: grid;
    color:  rgb(86, 91, 97);
    text-align: match-parent;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;

}
.nav-links a:hover{
    background: yellowgreen ;
    border-radius: 10%;
}
/*.ts {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem; 
}
/*smartphone*/
@media only screen and (max-width: 576px) {

.container {
        /*grid-template-columns: 1fr 1fr;*/
        grid-template-areas:
        "br br"
        "nav ts";}
  
}
body {
    font-family: monospace;
    color: rgb(86, 91, 97);
}
@media only screen and (max-width: 992px){
    .container {
        /*grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-areas:
        "br nav ts";
 }

}
@media only (min-width: 992px){
    .container {
        /*background: transparent;
        display: grid;
        width: 100%;*/
        /*grid-template-columns: 20% auto; */
        grid-template-areas:
        "br nav ts";
        margin-bottom: 10px;
 }

}
