.top-nav li{
    padding: 5px;
    display: inline;
}

.top-nav{
    list-style-type: none;
    display: inline-block;
}
.nav-links a{
    display: inline;
    color:  rgb(86, 91, 97);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
}
.nav-links a:hover{
    background: yellowgreen ;
    border-radius: 10%;
}
.header {
    font-size: 16px;
}
/*smartphone*/
@media only (max-width: 576px){

    .headercontent {
        background: transparent;
        display: grid;
        width: 100%;
        grid-template-columns: auto 
        auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "br br br br"
        "nav nav ts ts";
        margin-bottom: 10px;
 }

   

}
body {
    font-family: monospace;
    color: rgb(86, 91, 97);
}

/*only screen and (max-width: 576px){
    body.main-container{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "b b"
    "n t"
    "ha ha"
    "af af"
    "ad ad"
    "al al"
    "fo fo";
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 3fr 1fr;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    height: 100%;
    margin: 0;
    }